:root {
  --color-gold: #bbb97f;
  --color-black: #2e2e2e;
  --color-white: #fff;
  --color-grey: #f9f9f9;
  --color-shadow: #f3f3f3;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: "Inter", sans-serif;
}
.hero-section {
  height: 100dvh;
  background-image: url("img/unsplash_HGdGqzjbvZA.png");
  background-size: cover;
  background-position: top;
}
header {
  padding: 10px;
  height: 12dvh;
  z-index: 99;
}
.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--color-grey);
}
.navbar {
  display: flex;
  width: 100%;
  padding: 0 20px;
  justify-content: space-between;
}
nav {
  padding: 0;
  width: 90%;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 10%;
}
.logo img:hover {
  transform: scale(1.2);
}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 65%;
  text-align: left;
}
nav ul li {
  display: inline;
}
nav ul li a {
  text-decoration: none;
  color: var(--color-white);
  font-weight: bold;
  transition: 0.3s;
  font-size: 1.4rem;
  padding: 5px;
}
nav ul li a:hover,
#navlinks ul li a.selected {
  background-color: var(--color-gold);
}
.give-button {
  text-align: right;
  width: 12%;
}
.menu-icon {
  display: none !important;
}
.giveBtn {
  background-color: var(--color-white);
  color: var(--color-black);
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  letter-spacing: 1px;
  justify-content: right;
  cursor: pointer;
  font-family: inherit;
  transition: background-color 0.3s;
}
.giveBtn:hover,
.view-site-btn:hover {
  color: var(--color-white);
  background-color: var(--color-gold);
  box-shadow: 0 4px 8px var(--color-gold);
}
@media screen and (max-width: 768px) {
  nav {
    position: absolute;
    z-index: 99;
    background-color: var(--color-black);
    height: 100vh;
    width: 100%;
    top: 0;
    right: -1500px;
    padding-top: 80px;
    transition: 1s;
    position: fixed;
    flex-direction: column;
  }
  nav ul {
    flex-direction: column;
    padding: 0;
    margin: 0 auto;
    align-items: center;
    text-align: center;
  }
  nav ul li {
    padding: 10px;
    text-align: center;
  }
  nav ul li a {
    color: var(--color-white);
    font-size: 2.5rem;
  }
  .give-button {
    width: 80%;
    height: 50px;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
  }
  .menu-icon {
    display: block !important;
    color: var(--color-white);
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 30px;
    text-align: center;
  }
  .menu-icon:hover {
    color: var(--color-gold);
  }
}
.hero-heading {
  animation: slideInTop 1s ease-out 0.8s backwards;
}
.para-one {
  animation: slideInLeft 1s ease-out 1.8s backwards;
}
.para-two {
  animation: slideInRight 1s ease-out 2.8s backwards;
}
.para-three {
  animation: slideInLeft 1s ease-out 3.8s backwards;
}
.para-four {
  animation: fade-in 1s ease-out 4.8s backwards;
}

/* Animations */
@keyframes slideInTop {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }
  80% {
    opacity: 1;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2rem);
  }
  80% {
    opacity: 1;
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(2rem);
  }
  80% {
    opacity: 1;
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInBottom {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  80% {
    opacity: 1;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Animated sections */
.section-animated {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-in, transform 0.5s ease-in;
}
.section-animated.is-visible {
  opacity: 1;
  transform: translateY(0);
}
@media screen and (max-width: 900px) {
  html {
    font-size: 55%;
  }
}
@media screen and (max-width: 568px) {
  html {
    font-size: 50%;
  }
}
.hero-body {
  height: 80dvh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0 0;
}
.hero-content {
  color: var(--color-white);
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding: 0;
}
@media screen and (max-width: 768px) {
  .hero-content {
    width: 95%;
  }
}
@media screen and (max-width: 480px) {
  .hero-buttons {
    flex-direction: column;
  }
  .hero-buttons a {
    align-self: flex-start;
    margin: 1rem auto;
  }
}
.hero-heading {
  font-size: 5rem;
  margin: 0;
  line-height: 7rem;
}
.hero-text {
  margin-top: 1.5rem;
  font-size: 1.5rem;
}
.hero-text p:not(:last-child) {
  line-height: 2.5rem;
}
.hero-buttons {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
  padding: 0;
}
.btn:link,
.btn:visited {
  text-decoration: none;
  padding: 1.5rem 2rem;
  display: inline-block;
  font-size: 14px;
  transition: all 0.2s;
  position: relative;
}
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.2);
}
.btn-main {
  border-radius: 10rem;
  color: var(--color-black);
  background-color: var(--color-white);
  letter-spacing: 1px;
  font-weight: bold;
  animation: slideInBottom 1s ease-out 5.8s backwards;
}
.btn-main:hover::after {
  transform: scaleY(1.6) scaleX(1.4);
  opacity: 0;
}
.btn-main::after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: var(--color-gold);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 10rem;
  transition: all 0.5s;
}